.form {
  display: flex;
  flex-wrap: wrap;
}
.findCont {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}
.findInput {
  margin-left: 30px;
  padding: 5px;
  width: 200px;
  background-color: #fff;
}
.findInput:hover,
.findInput:focus {
  cursor: pointer;
}
