.listItem {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 5px;
}
.bthList {
  background-color: #fff;
  color: rgb(255, 160, 8);

  border: 1px solid #fff;
  padding: 5px 10px;
}
.bthList:hover,
.bthList:focus {
  cursor: pointer;
  background-color: rgb(255, 160, 8);
  color: #fff;
}
