.listItem {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.bthList {
  margin-left: 20px;
  background-color: rgb(233, 41, 41);
  color: #fff;
  padding: 5px 10px;
  border: 1px solid #fff;
}
.bthList:hover,
.bthList:focus{
    cursor: pointer;
    background-color: rgb(236, 82, 82);
}
