.form {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  align-items: flex-end;
}
label {
  text-align: left;
}

.formInput {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 200px;
  margin-top: 8px;
  padding: 10px;
}

.btnForm {
  display: flex;
  background-color: #fff;
  color: rgb(255, 160, 8);
  border: 1px solid #fff;
  padding: 10px;
}
.btnForm:hover,
.btnForm:focus {
  cursor: pointer;
  background-color: rgb(255, 160, 8);
  color: #fff;
}
